<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Archetype Created Web Application</display-name>
    <!-- Servlet Definition -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagePost</servlet-name>
        <servlet-class>controller.AdminManagePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeletePost</servlet-name>
        <servlet-class>controller.AdminDeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchPost</servlet-name>
        <servlet-class>controller.AdminSearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageClub</servlet-name>
        <servlet-class>controller.AdminManageClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>controller.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FundManagerServlet</servlet-name>
        <servlet-class>controller.FundManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEvent</servlet-name>
        <servlet-class>controller.ManageEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFund</servlet-name>
        <servlet-class>controller.ManageFund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMember</servlet-name>
        <servlet-class>controller.ManageMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePost</servlet-name>
        <servlet-class>controller.ManagePost</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet>
        <servlet-name>AdminDeleteClub</servlet-name>
        <servlet-class>controller.AdminDeleteClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchClub</servlet-name>
        <servlet-class>controller.AdminSearchClub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagePost</servlet-name>
        <url-pattern>/AdminManagePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeletePost</servlet-name>
        <url-pattern>/AdminDeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchPost</servlet-name>
        <url-pattern>/AdminSearchPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageClub</servlet-name>
        <url-pattern>/AdminManageClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FundManagerServlet</servlet-name>
        <url-pattern>/FundManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEvent</servlet-name>
        <url-pattern>/ManageEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFund</servlet-name>
        <url-pattern>/ManageFund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMember</servlet-name>
        <url-pattern>/ManageMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePost</servlet-name>
        <url-pattern>/ManagePost</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>AdminDeleteClub</servlet-name>
        <url-pattern>/AdminDeleteClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchClub</servlet-name>
        <url-pattern>/AdminSearchClub</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        30
    </session-timeout>
    </session-config>
</web-app>
